.gestion-citas-wrapper .empty {
    background-color: #f5f8ff;
}

.gestion-citas-wrapper .appointment {
    background-color: var(--color-bgblue-active);
    transition: all .4s;
}

.gestion-citas-wrapper .appointment:hover {
    background-color: var(--color-white);
}

.gestion-citas-wrapper * {
    transition: all .4s;
}
input[type="file"] {

  display: block;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
}
