.gestion-citas-wrapper .empty {
    background-color: #f5f8ff;
}

.gestion-citas-wrapper .appointment {
    background-color: var(--color-bgblue-active);
    transition: all .4s;
}

.gestion-citas-wrapper .appointment:hover {
    background-color: var(--color-white);
}

.gestion-citas-wrapper * {
    transition: all .4s;
}
input[type="file"] {

  display: block;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
}

#popupDocument {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(245,245,245,.7);
}

.close-modal {
    color: var(--gin-color-primary);
    background-color: transparent;
    font-size: 20px;
    border: solid 2px var(--gin-color-primary);
    border-radius: 5px;
    padding: 0.3em 0.6em;
    margin-bottom: 1em;
    transition: all .2s;
  }

  .close-modal:hover,
  .close-modal:focus {
    opacity:.7;
    cursor: pointer;
  }

  img.validate-icon, img.refused-icon {
    transform: translate(10px, 5px);
}

  .bloqueada {
    background-color: rgb(255,204,204);
    padding: 1em;
    border-radius: 10px;
  }
  .libre {
    background-color: #e5edff;
    opacity: .5;
    padding: 1em;
    border-radius: 10px;
  }
  .cita {
    background-color: #ccdbff;
    padding: 1em;
    border-radius: 10px;
  }

  .cita a {
    color:black;
    font-weight: 400;
  }

  .reservas-table tr:hover, table .draggable-table.tabledrag-disabled tr:hover {
    color: var(--gin-color-text);
    background-color: #f5f8ff!important;
}

.reservas-table tr, table .draggable-table.tabledrag-disabled tr:hover {
  color: var(--gin-color-text);
  background-color: #f5f8ff!important;
}