.gestion-citas-wrapper .empty {
    background-color: #f5f8ff;
}

.gestion-citas-wrapper .appointment {
    background-color: var(--color-bgblue-active);
    transition: all .4s;
}

.gestion-citas-wrapper .appointment:hover {
    background-color: var(--color-white);
}

.gestion-citas-wrapper * {
    transition: all .4s;
}
input[type="file"] {

  display: block;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
}

#popupDocument {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(245,245,245,.7);
}

.close-modal {
    color: var(--gin-color-primary);
    background-color: transparent;
    font-size: 20px;
    border: solid 2px var(--gin-color-primary);
    border-radius: 5px;
    padding: 0.3em 0.6em;
    margin-bottom: 1em;
    transition: all .2s;
  }

  .close-modal:hover,
  .close-modal:focus {
    opacity:.7;
    cursor: pointer;
  }

  img.validate-icon {
    transform: translate(10px, 5px);
}

  .bloqueado{
    background-color: #ff0015;
  }
  .libre{
    background-color: #00ff00;
  }
  .cita{
    background-color: #ffcc00;
  }
