{# gestion-citas.html.twig #}
<div class="view-content gin-layer-wrapper gestion-citas-wrapper">
  <div class="gin-table-scroll-wrapper">
    <table class="views-table views-view-table cols-5 responsive-enabled sticky-enabled">
      <thead class="sticky-header">
        <tr>
          {# añadimos el campo select #}
          <th>{{ 'Solicitante'|t }}</th>
          <th>{{ 'Comentario'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {# hacemos foreach en el array de citas #}
        {% for cita in citas %}
          <tr>
            <td>{{ cita.solicitante }}</td>
            <td>{{ cita.comentario }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
