{# creamos un input tipo date con la id #date-imput #}
<input type="date" id="date-input" value="{{ date }}" />

<table>
  <thead>
    <tr>
      {% for i in 0..6 %}
        <th id="day-{{ i }}"></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in 0..6 %}
      <td id="column-{{ i }}"></td>
    {% endfor %}
  </tbody>
</table>
